<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>School Management System</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <link href="/public/metronic-for-bolt/assets/global/plugins/pace/css/pace-theme-minimal.css" rel="stylesheet" type="text/css" />
        <script src="/public/metronic-for-bolt/assets//global/plugins/pace/js/pace.min.js"></script>

        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="/public/metronic-for-bolt/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/public/metronic-for-bolt/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/public/metronic-for-bolt/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/public/metronic-for-bolt/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <link href="/public/metronic-for-bolt/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="/public/metronic-for-bolt/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="/public/metronic-for-bolt/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="/public/metronic-for-bolt/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="/public/metronic-for-bolt/assets/layouts/layout/css/notification.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="/public/ctl-sms-home/assets/pages/img/icon.png" /> 
        <!-- Insert this line before script imports for JQuery to load on electron  -->
        <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
        <script src="/public/metronic-for-bolt/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <!-- Insert this line after script imports for JQuery to load on electron -->
        <script>if (window.module) module = window.module;</script>

        <style type="text/css">
            .sidenav {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 10500;
                top: 0;
                right: 0;
                background-color: rgba(255,255,255,.98);
                overflow-x: hidden;
                transition: 0.2s;
                padding-top: 60px;
            }
            .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px !important;
                margin-left: 50px;
                color: #d91e18;
            }
            .closebtn:hover {
                text-decoration: none;
                color: inherit;
            }
            .grid:hover {
                background-color: #fafafa;
            }
            .grid_box {
                display: block;
                text-align: center;
                width: auto;
                cursor: pointer;
                position: relative;
                overflow: hidden;
                padding-top: 5%;
                margin: 0 0 40px 0;
            }
            .grid_img {
                display: block;
            }
            .grid_link {
                text-decoration: none;
                color: inherit;
            }
            .grid_link:hover {
                color: inherit;
                text-decoration: none;
            }
            .grid_link:focus {
                text-decoration: none;
                color: inherit;
            }
            .grid_title {
                display: block;
                font-size: 15px;
                padding: 7px 0;
            }
        </style>
    </head>
    <!-- END HEAD -->

<!-- BEGIN PAGE CONTENT-->
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-full-width page-md" style="overflow-y: hidden;">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="{{app_root}}">
                        <img src="/public/ctl-sms-home/assets/pages/img/logo.png" alt="logo" class="logo-default" /> </a>
                    </a>
                </div>

                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- BEGIN NOTIFICATION DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="" data-close-others="true">
                                <i class="icon-bell"></i>
                                <!-- <span class="badge badge-default"> 7 </span> -->
                            </a>
                            <ul class="dropdown-menu">
                                <li class="external">
                                    <!-- <h3> <span class="bold">12 pending</span> notifications</h3> -->
                                    <a href="#">view all</a>
                                </li>
                                <li>
                                    <ul class="dropdown-menu-list scroller" id="public_notification" style="height: 250px;" data-handle-color="#637283">
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!-- END NOTIFICATION DROPDOWN -->
                        <!-- BEGIN INBOX DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="" data-close-others="true">
                                <i class="icon-envelope-open"></i>
                                <!-- <span class="badge badge-default"> 4 </span> -->
                            </a>
                            <ul class="dropdown-menu">
                                <li class="external">
                                    <!-- <h3>You have <span class="bold">7 New</span> Messages</h3> -->
                                    <a href="#">view all</a>
                                </li>
                                <li>
                                    <ul class="dropdown-menu-list scroller" id="private_notification" style="height: 275px;" data-handle-color="#637283">
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!-- END INBOX DROPDOWN -->
                        
                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                         <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="" data-close-others="true">
                                <img alt="" class="img-circle" src="{{user.displayPic}}" />
                                <span class="username username-hide-on-mobile"> {{user.displayName}} </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="page_user_profile_1.html">
                                        <i class="icon-user"></i> My Profile </a>
                                </li>
                                <li>
                                    <a href="app_calendar.html">
                                        <i class="icon-calendar"></i> My Calendar </a>
                                </li>
                                <li>
                                    <a href="app_inbox.html">
                                        <i class="icon-envelope-open"></i> My Inbox
                                        <span class="badge badge-danger"> 3 </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="app_todo.html">
                                        <i class="icon-rocket"></i> My Tasks
                                        <span class="badge badge-success"> 7 </span>
                                    </a>
                                </li>
                                <li class="divider"> </li>
                                <li>
                                    <a href="page_user_lock_1.html">
                                        <i class="icon-lock"></i> Lock Screen </a>
                                </li>
                                <li>
                                    <a href="/logout">
                                        <i class="icon-key"></i> Log Out </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                        <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                        <li class="dropdown dropdown-quick-sidebar-toggler">
                            <a href="javascript:;" class="menu-toggler" title="Main menu" onclick="openNav()">
                                <span></span>
                            </a>
                        </li>
                        <!-- END QUICK SIDEBAR TOGGLER -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <iframe class="main_frame" src="{{app_root}}/frame" frameborder="0" seamless='seamless' name="main_frame2">                         
                    </iframe>
                    <noframes>Your browser does NOT support frames.</noframes>
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDE MENU -->
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" title="Close menu">×</a>
                <div class="container">
                    {{#each plugins}}
                    <div class="col-md-2 col-sm-3 col-xs-4 grid">
                        <a href="/apps/{{name}}" class="grid_link" target="main_frame2" title="{{displayName}}" onclick="closeNav()">
                            <div class="grid_box">
                                <div class="grid_img">
                                    <img src="/files/{{name}}/icon-md">
                                </div>
                                <div class="grid_title">
                                    {{displayName}}
                                </div>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                </div>           
            </div>
            <!-- END QUICK SIDE MENU -->

        </div>
        <!-- END CONTAINER -->
        
        <!-- END FOOTER -->
        <!--[if lt IE 9]>
            <script src="/public/metronic-for-bolt/assets/global/plugins/respond.min.js"></script>
            <script src="/public/metronic-for-bolt/assets/global/plugins/excanvas.min.js"></script> 
        <![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="/public/metronic-for-bolt/assets/layouts/global/scripts/frame.js" type="text/javascript"></script>
        <script src="/public/metronic-for-bolt/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        
        <script src="/public/metronic-for-bolt/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="/public/metronic-for-bolt/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="/public/metronic-for-bolt/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/public/metronic-for-bolt/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="/public/metronic-for-bolt/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="/public/metronic-for-bolt/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="/public/metronic-for-bolt/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
        <script src="/public/metronic-for-bolt/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
        <script src="/public/metronic-for-bolt/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="/public/metronic-for-bolt/assets/global/plugins/bootstrap-growl/jquery.bootstrap-growl.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->

         <!-- BEGIN PAGE LEVEL SCRIPTS -->
         <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "100%";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
        <script src="{{bolt_root}}/socket.io/socket.io.js" type="text/javascript"></script>
        <script src="{{bolt_root}}/public/bolt/native/js/bolt.events.js" type="text/javascript"></script>

        <script type="text/javascript">
            var modules = {{{json modules}}};
            var userRoles = {{{json user.roles}}};

            function postback(app, user, notifId, data) {
                alert(app + ' ' + user + ' ' + (notifId || 'no-id') + ' ' + data);

                /*$.ajax({
                    url: '{{bolt_root}}/api/notifications/postback',
                    type: 'POST',
                    data: JSON.stringify({app: 'bolt-module-notifications', query: {}}),
                    dataType: 'json',
                    contentType: 'application/json',
                    headers: {'X-Bolt-App-Token': '{{app_token}}'},
                    success: function(response, status, xhr) {},
                    error: function(xhr, status, err) {}
                });*/
            }

            $(document).ready(function(){
                $.ajax({
                    url: '{{bolt_root}}/api/db/notifications/find',
                    type: 'POST',
                    data: JSON.stringify({app: 'bolt-module-notifications', query: {}}),
                    dataType: 'json',
                    contentType: 'application/json',
                    headers: {'X-Bolt-App-Token': '{{app_token}}'},
                    success: function(response, status, xhr) {
                        if (response.code === 0) {
                            var notifications = response.body;
                            notifications = notifications.reverse().filter(function(notif){
                                return modules.map(function(app) {return app.name;}).indexOf(notif.app) > -1;
                            });

                            notifications = notifications.filter(function(notif){
                                var result = true;

                                if (notif.to) {
                                    if (notif.to.users && notif.to.users.length > 0) {
                                        result = (notif.to.users.indexOf('{{user.name}}') > -1);
                                    }
                                    else if (notif.to.roles && notif.to.roles.length > 0) {
                                        var intersects = notif.to.roles.filter(function(r) {
                                            return userRoles.indexOf(r.toLowerCase()) > -1;
                                        });
                                        result = (intersects.length > 0);
                                    }
                                }

                                return result;
                            });

                            for (index = 0; index < notifications.length && index < 8; index++) {
                                var notification = notifications[index];
                                if (notification.message) {
                                    var append = '';
                                    if (notification.route) {
                                        var route = (notification.route.indexOf('/') == 0) ? notification.route : '/' + notification.route;
                                        append = '?route=' + encodeURIComponent(route);
                                    }
                                    if (notification.query) {
                                        append += (notification.route) ? '&' : '?';
                                        append += 'query=' + encodeURIComponent(notification.query);
                                    }

                                    var buttons = '';
                                    if (notification.buttons && notification.buttons.length > 0) {
                                        buttons = '<div>';
                                        for (idx = 0; idx < notification.buttons.length && idx < 3; idx++) {
                                            var btn = notification.buttons[idx];
                                            if (btn.type == 'link') {
                                                buttons += '<a href="' + btn.data + '" target="main_frame" class="btn btn-xs blue">' + btn.text + '</a>';
                                            }
                                            else if (btn.type == 'phone') {
                                                buttons += '<a href="tel:[' + btn.data + ']" class="btn btn-xs green-jungle"><i class="fa fa-phone"></i> ' + btn.text + '</a>';
                                            }
                                            else if (btn.type == 'postback') {
                                                buttons += '<a href="javascript:;" onclick="postback(\'' + notification.app + '\', \'{{user.name}}\', \'' + notification._id + '\',\'' + btn.data + '\')" class="btn btn-xs red">' + btn.text + '</a>';
                                            }
                                        }
                                        buttons += '</div>';
                                    }

                                    if (notification.from) {
                                        var notf_frame =   '<li>' +
                                            '<a href="{{bolt_root}}/apps/' + notification.app + append + '" target="main_frame">' +
                                                '<span class="photo">' +
                                                    '<img src="' + notification.from.displayPic + '" class="img-circle" alt="">' +
                                                '</span>' +
                                                '<span class="subject">' +
                                                    '<span class="from">' + notification.from.displayName + '</span>' +
                                                    '<span class="time">' + new Date(notification.time).toDateString() + '</span>' +
                                                '</span>' +
                                                '</span class="message">' + notification.message.data + '</span>' +
                                            '</a>' +
                                            buttons +
                                        '</li>';

                                        $('#private_notification').append(notf_frame);
                                    }
                                    else {
                                        var notf_frame =   '<li>' +
                                            '<a href="{{bolt_root}}/apps/' + notification.app + append + '" target="main_frame">' +
                                                '<span class="time">' + new Date(notification.time).toDateString() + '</span>' +
                                                '<span class="details">' +
                                                    '<span style="margin-right:10px">' +
                                                        '<img src="{{bolt_root}}/files/' + notification.app + '/icon">' +
                                                    '</span>' + notification.message.data + '</span>' +
                                            '</a>' +
                                            buttons +
                                        '</li>';
                                        
                                        $('#public_notification').append(notf_frame);
                                    }
                                }
                            }
                        }
                    },
                    error: function(xhr, status, err) {}
                });
            });
        
            /*Bolt.Events.on("bolt/server-connected", function(event){
                alert("yayyy server connected")
            });
            Bolt.Events.on("bolt/server-disconnected", function(event){
                alert("server disconnected")
            });*/
            Bolt.Events.on("bolt/notification-posted", function(event){
                if (event.token != '{{app_token}}') return;

                var notification = event.body;

                if (modules.map(function(app) {return app.name;}).indexOf(notification.app) == -1) return;

                if (notification.to) {
                    if (notification.to.users && notification.to.users.length > 0) {
                        if (notification.to.users.indexOf('{{user.name}}') == -1) return;
                    }
                    else if (notification.to.roles && notification.to.roles.length > 0) {
                        var intersects = notification.to.roles.filter(function(r) {
                            return userRoles.indexOf(r.toLowerCase()) > -1;
                        });
                        if (intersects.length == 0) return;
                    }
                }

                //show toast
                if (notification.toast && notification.toast.message) {
                    $.bootstrapGrowl(notification.toast.message, {
                        ele: 'body', 
                        type: notification.type || 'success', 
                        offset: {from: 'top', amount: 60}, 
                        align: 'right', 
                        width: 250, 
                        delay: notification.toast.duration || 10000, 
                        allow_dismiss: true,
                        stackup_spacing: 10
                    });
                }

                //actual notification
                if (notification.message) {
                    var append = '';
                    if (notification.route) {
                        var route = (notification.route.indexOf('/') == 0) ? notification.route : '/' + notification.route;
                        append = '?route=' + encodeURIComponent(route);
                    }
                    if (notification.query) {
                        append += (notification.route) ? '&' : '?';
                        append += 'query=' + encodeURIComponent(notification.query);
                    }

                    var buttons = '';
                    if (notification.buttons && notification.buttons.length > 0) {
                        buttons = '<div>';
                        for (idx = 0; idx < notification.buttons.length && idx < 3; idx++) {
                            var btn = notification.buttons[idx];
                            if (btn.type == 'link') {
                                buttons += '<a href="' + btn.data + '" target="main_frame" class="btn btn-xs blue">' + btn.text + '</a>';
                            }
                            else if (btn.type == 'phone') {
                                buttons += '<a href="tel:[' + btn.data + ']" class="btn btn-xs green-jungle"><i class="fa fa-phone"></i> ' + btn.text + '</a>';
                            }
                            else if (btn.type == 'postback') {
                                buttons += '<a href="javascript:;" onclick="postback(\'' + notification.app + '\', \'{{user.name}}\', \'' + notification._id + '\',\'' + btn.data + '\')" class="btn btn-xs red">' + btn.text + '</a>';
                            }
                        }
                        buttons += '</div>';
                    }

                        

                                        /*
                                                <span> Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh... </span>
                                            */

                    if (notification.from) {
                        var notf_frame =   '<li">' +
                                '<a href="{{bolt_root}}/apps/' + notification.app + append + '" target="main_frame">' +
                                    '<span class="photo">' +
                                        '<img src="' + notification.from.displayPic + '" class="img-circle" alt="">' +
                                    '</span>' +
                                    '<span class="subject">' +
                                        '<span class="from">' + notification.from.displayName + '</span>' +
                                        '<span class="time">' + new Date(notification.time).toDateString() + '</span>' +
                                    '</span>' +
                                    '</span class="message">' + notification.message.data + '</span>' +
                                '</a>' +
                                buttons +
                            '</li>';

                        var count = $("#private_notification").children().length;
                        if (count == 5) {
                            $('#private_notification li:last').remove();
                        }
                        $('#private_notification').prepend(notf_frame);
                    }
                    else {
                        var notf_frame =   '<li>' +
                                '<a href="{{bolt_root}}/apps/' + notification.app + append + '" target="main_frame">' +
                                    '<span class="time">' + new Date(notification.time).toDateString() + '</span>' +
                                    '<span class="details">' +
                                        '<span style="margin-right:10px">' +
                                            '<img src="{{bolt_root}}/files/' + notification.app + '/icon">' +
                                        '</span>' + notification.message.data + '</span>' +
                                '</a>' +
                                buttons +
                            '</li>';

                        var count = $("#public_notification").children().length;
                        if (count == 5) {
                            $('#public_notification li:last').remove();
                        }
                        $('#public_notification').prepend(notf_frame);
                    }
                }
            });

            Bolt.Events.on("bolt/notification-deleted", function(event){
                if (event.token != '{{app_token}}') return;
                var notification = event.body;

                //$('#notif_' + notification._id).remove();
            });
        </script>
        <!-- END PAGE LEVEL SCRIPTS --> 
    </body>
</html>