{{> header}}

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="/public/bolt-ui-sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

{{> sub_header}}

{{> nav }}

<!-- BEGIN PAGE TITLE-->
<div class="container-fluid">
    <div class="col-md-12">
        <h3 class="page-title"> Register Visitors</h3>
    </div>
</div>
<!-- END PAGE TITLE-->


<!-- BEGIN PAGE CONTENT-->
<div class="container-fluid">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_1" data-toggle="tab"> New Visit </a>
                        </li>
                        <li>
                            <a href="#tab_2" data-toggle="tab"> Previous Visit </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <form role="form" id="register_visitors" autocomplete="off">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input class="form-control" name="fullname" id="fullname" type="text" maxlength="60">
                                                <label for="fullname">
                                                    Full Name <span class="required">*</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input name="phone" type="text" class="form-control" id="phone" maxlength="20">
                                                <label for="phone">Phone</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input name="email" type="email" class="form-control" id="email" maxlength="100">
                                                <label for="email">Email</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input class="form-control" name="purpose_of_visit" id="purpose_of_visit" type="text" maxlength="60">
                                                <label for="purpose_of_visit">
                                                    Purpose of visit <span class="required">*</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions noborder">
                                    <button type="submit" class="btn green">Submit</button>
                                    <button type="reset" class="btn default">Cancel</button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab_2">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <div class="input-group">
                                                <div class="input-group-control">
                                                    <input class="form-control" name="search_name" id="search_name" type="text">
                                                    <label for="search_name">Visitor's name</label>
                                                </div>
                                                <span class="input-group-btn btn-right">
                                                    <button id="search" class="btn green" type="button">Search</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="result_section">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 font-green">
                                        <i class="icon-doc font-green"></i>
                                        <span class="caption-subject bold uppercase"> Search Result</span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 text-right">
                                        <span id="search_icon"></span> <span id="result_count"> </span>
                                    </div>
                                </div>
                                <hr>

                                <div class="portlet-body form">
                                    <div class="table-container">
                                        <table class="table table-hover table-light">
                                            <tbody id="result_frame">
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

{{> copyright }}
 
{{> sub_footer }}

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/public/metronic-for-bolt/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script type="text/javascript">
window.onload = function() {
    document.getElementById("search_name").focus();
};
</script>

<script src="/public/bolt-ui-sweetalert/dist/sweetalert.min.js" type="text/javascript"></script>
<script src="/public/bolt-ui-sweetalert/dist/sweetalert-dev.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<!-- BEGIN UNIQUE SCRIPT FOR ONLY THIS PAGE -->
<script type="text/javascript">
var FormValidationMd = function() {
    var handleValidation2 = function() {
        var form1 = $('#register_visitors');
        var error1 = $('.alert-danger', form1);
        var success1 = $('.alert-success', form1);

        form1.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            messages: {
                fullname: {
                required: 'Full name is required',
                minlength: 'Enter at least 2 characters'
                },
                email: {
                email: 'Enter a valid email',
                },
                purpose_of_visit: {
                required: 'Purpose of visit is required'
                }
            },
            rules: {
                fullname: {
                minlength: 2,
                required: true
                },
                email: {
                email: true,
                },
                phone: {
                maxlength: 20
                },
                purpose_of_visit: {
                required: true,
                maxlength: 250
                }
            },

            invalidHandler: function(event, validator) { //display error alert on form submit              
                success1.hide();
                error1.show();
                App.scrollTo(error1, -200);
            },

            errorPlacement: function(error, element) {
                if (element.is(':checkbox')) {
                    error.insertAfter(element.closest(".md-checkbox-list, .md-checkbox-inline, .checkbox-list, .checkbox-inline"));
                } else if (element.is(':radio')) {
                    error.insertAfter(element.closest(".md-radio-list, .md-radio-inline, .radio-list,.radio-inline"));
                } else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                }
            },

            highlight: function(element) { // hightlight error inputs
                $(element)
                .closest('.form-group').addClass('has-error'); // set error class to the control group
            },

            unhighlight: function(element) { // revert the change done by hightlight
                $(element)
                .closest('.form-group').removeClass('has-error'); // set error class to the control group
            },

            success: function(label) {
                label
                .closest('.form-group').removeClass('has-error'); // set success class to the control group
            },

            submitHandler: function(form) {

                success1.show();
                error1.hide();

                var displayname = $("#fullname").val();
                var email = $("#email").val();
                var phone = $("#phone").val();
                var purpose = $("#purpose_of_visit").val();
                    
                $.ajax({
                    url: '{{bolt_root}}/api/db/visitors/insert',
                    type: 'POST',
                    data: JSON.stringify({ object: { displayName: displayname, email: email, phone: phone }}),
                    dataType: 'json',
                    contentType: 'application/json',
                    headers: {'X-Bolt-App-Token': '{{app_token}}'},
                    success: function(response) {
                        if(response.code === 0){
                            var result = response.body;
                            $.ajax({
                                url: "{{bolt_root}}/api/db/visits/insert",
                                type: 'POST',
                                data: { object: {displayName: displayname,purpose: purpose, dateIn: new Date(), visitorId: result.insertedIds[0]} },
                                headers: {'X-Bolt-App-Token': '{{app_token}}'},
                                success: function(response2, status2, xhr2) {
                                    if(response2.code === 0){
                                        swal({
                                            title: "Visitor Registered!",
                                            text: displayname + " has been registered and signed in.",
                                            type: "success",
                                            showCancelButton: false,
                                            closeOnConfirm: true
                                        }, function(isConfirm){
                                            if (isConfirm) {
                                                window.location.href="{{app_root}}/";
                                            }
                                        });
                                    }
                                    else {
                                        sweetAlert(response2.errorUserTitle, response2.errorUserMessage, "error");
                                    }
                                }, 
                                error: function(xhr2, status2, err2){
                                    alert(xhr2.responseText);
                                }
                            });
                        }
                        else {
                            sweetAlert(response.errorUserTitle, response.errorUserMessage, "error");
                        }
                    },
                    error: function(xhr, status, err){
                        alert(xhr.responseText);
                    }
                });
            }
        });
    };

    return {
        //main function to initiate the module
        init: function() {
            handleValidation2();
        }
    };
}();

jQuery(document).ready(function() {
    FormValidationMd.init();
});
</script>

<script type="text/javascript">

// $(document).ready(function() {
    $('#result_section').hide();
    
    $('#search').click(function() {
        var name = $("#search_name").val().trim();
        if(name === "") { return; }
        $('#result_frame').children().remove();
        
        $.ajax({
            url: '{{bolt_root}}/api/db/visits/find',
            type: 'POST',
            data: JSON.stringify({ query: {}}),
            dataType: 'json',
            contentType: 'application/json',
            headers: {'X-Bolt-App-Token': '{{app_token}}'},
            beforeSend : function() {
                $('#result_count').hide();
                $( '#search_icon' ).fadeIn(function() {
                    $( this ).html('<span>Searching </span> <img src="{{app_root}}/assets/pages/img/loading.gif">');
                });  
            },
            success: function(response) { console.log(response);
                if (response.code == 0) {
                    var visitors = response.body;

                    visitors = visitors.filter(function(visitor) {
                        return visitor.displayName.toLowerCase().indexOf(name.toLowerCase()) > -1;
                    });

                    if(visitors.length > 0) {
                        for (index = 0; index < visitors.length; index++) {
                            var visitor = visitors[index];
                            visitor.dateIn = new Date(visitor.dateIn);
                            var result_row = '<tr id="result_row">' +
                                                    '<td  width="20%">' + visitor.displayName + '</td>' +
                                                    '<td  width="45%">' + visitor.purpose + '</td>' +
                                                    '<td width="20%">' + visitor.dateIn.toDateString() + '</td>' +
                                                    '<td width="15%">' +
                                                        '<a href="payment-summary/' + visitor.visitorId + '" class="btn yellow-crusta btn-xs uppercase">' + 
                                                            '<span class="hidden-xs">Proceed</span>' +
                                                            ' <span><i class="fa fa-long-arrow-right"></i></span>' +
                                                        '</a>' +
                                                    '</td>' +
                                                '</tr>';

                            $('#result_section').show();
                            $('#result_frame').append(result_row);

                            $( '#search_icon' ).fadeOut(function() {
                                var r = (visitors.length > 1) ? ' results' : ' result';
                                $('#result_count').text(visitors.length + r + ' found').show();   
                            });
                        }
                        
                    }
                    else {
                        var result_row2 = '<tr id="result_row">' +
                                                '<td colspan="4"> No result found! </td>' +
                                            '</tr>';  

                        $('#result_section').show();
                        $( '#search_icon' ).fadeOut(function() {
                            $('#result_count').hide();
                            $('#result_frame').append(result_row2);
                        });
                         
                    }
                }
                // $( '#search_icon' ).fadeOut();
            },
            error: function(xhr, status, err){
                alert(xhr.responseText);
            }
        });
    });
// });
</script>

<!-- END UNIQUE SCRIPT FOR ONLY THIS PAGE -->
 
 {{> footer }}