{{> header}}

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="/public/bolt-ui-sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css" />
    <link href="{{app_root}}/assets/pages/css/chat.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

{{> sub_header}}

{{> nav }}

<!-- BEGIN PAGE TITLE-->
<!-- <div class="container-fluid">
    <div class="col-md-12">
        <h3 class="page-title"> Chat</h3>
    </div>
</div> -->
<!-- END PAGE TITLE-->

<!-- BEGIN PAGE CONTENT-->
<div class="container-fluid">
    <div class="col-md-4 col-sm-4">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-hide hide"></i>
                    <span class="caption-subject font-hide bold uppercase">Users</span>
                </div>
                <div class="actions">
                    <div class="portlet-input input-inline">
                        <div class="input-icon right">
                            <i class="icon-magnifier"></i>
                            <input class="form-control input-circle" id="livefilter-input" placeholder="search..." type="text" maxlength="200"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body" id="chats">
                <div class="scroller chat_box1" data-always-visible="1" data-rail-visible1="1">
                    <ul id="livefilter-list">
                        {{#each users}}
                        <li class="user_tab">
                            <a href="{{../app_root}}/with/{{name}}">
                            <img class="avatar" alt="" src="{{displayPic}}" /> 
                            <span>{{displayName}} {{#if isOtherUser}}<span class="badge badge-empty badge-success"></span>{{/if}}</span>
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>


    <div class="col-md-8 col-sm-8">
        <!-- BEGIN PORTLET-->
        {{#if otherUser}}
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <img class="avatar" alt="" src="{{otherUser.displayPic}}" width="32" height="32" />
                    <span class="caption-subject font-hide bold uppercase">{{chatName}}</span>
                </div>
            </div>
            <div class="portlet-body" id="chats">
                <div class="scroller chat_box2" data-always-visible="1" data-rail-visible1="1">
                    {{#if chats}}
                    <ul id="chat-box" class="chats">
                        {{#each chats}}
                        <li {{#if out}}class="out"{{else}}class="in"{{/if}}>
                            <img class="avatar" alt="" src="{{user.displayPic}}" />
                            <div class="message">
                                <span class="arrow"> </span>
                                <a href="javascript:;" class="name"> {{user.displayName}} </a>
                                <span>at </span> <span class="datetime"> {{date}} </span>
                                <span class="body"> {{message}} </span>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                </div>
                <div class="chat-form">
                    <div class="input-cont">
                        <input id="message" class="form-control" type="text" placeholder="Type a message here..." /> </div>
                    <div class="btn-cont">
                        <span class="arrow"> </span>
                        <a id="submit" class="btn blue icn-only">
                            <i class="fa fa-check icon-white"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        <!-- END PORTLET-->
    </div>
</div>
<!-- END PAGE CONTENT-->
{{> copyright }}

 {{> sub_footer }}

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/public/metronic-for-bolt/assets/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="/public/bolt-ui-sweetalert/dist/sweetalert.min.js" type="text/javascript"></script>
<script src="/public/bolt-ui-sweetalert/dist/sweetalert-dev.js" type="text/javascript"></script>
<script type="text/javascript" src="/public/ctl-sms-chat/assets/pages/scripts/jquery.liveFilter.js"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<script src="{{bolt_root}}/socket.io/socket.io.js" type="text/javascript"></script>
<script src="{{bolt_root}}/public/bolt/native/js/bolt.events.js" type="text/javascript"></script>

<!-- BEGIN UNIQUE SCRIPT FOR ONLY THIS PAGE -->
<script>
  $(function(){
    $('#livefilter-list').liveFilter('#livefilter-input', 'li', {
      filterChildSelector: 'span'
    });
  });
</script>

<script type="text/javascript">
    function resizeChatBox1() {
        var chat_box1 = $('.chat_box1');
        var window_height = $(window).height();
        var submenu_height = $('#submenu').height();
        var height = window_height - submenu_height - 157;

        chat_box1.prop({'style': 'height:' + height + 'px' });
    }
    function resizeChatBox2() {
        var chat_box2 = $('.chat_box2');
        var window_height = $(window).height();
        var submenu_height = $('#submenu').height();
        var height = window_height - submenu_height - 220;

        chat_box2.prop({'style': 'height:' + height + 'px' });
    }
    resizeChatBox1();
    resizeChatBox2();

    $( window ).resize(function() {
        resizeChatBox1();
        resizeChatBox2();
    });
</script>

<script type="text/javascript">

$(document).ready(function() {
    //Format time using moments
    $('.datetime').each(function(elem) {
        var datetime = $(this).text().trim();
        datetime = new Date(datetime);
        var datetime = moment(datetime, '').format('LT');
        $(this).text(datetime); 
    });


    Bolt.Events.on("ctl-sms-chat/chat-posted", function(event) {
        if (event.token != '{{app_token}}') return;

        var chat = event.body;
        if (chat.users.indexOf('{{user.name}}') > -1 && chat.users.indexOf('{{otherUser.name}}') == -1) {
            //TODO: put a badge next to the user
            $.ajax({
                url: '{{bolt_root}}/api/notifications',
                type: 'POST',
                data: JSON.stringify({
                        toast: {
                            message: chat.user.displayName + ': ' + chat.message,
                            duration: 8000
                        },
                        to: {
                            users: ['{{user.name}}']
                        }
                    }),
                dataType: 'json',
                contentType: 'application/json',
                headers: {'X-Bolt-App-Token': '{{app_token}}'},
                success: function(response) {}
            });
            return;
        }

        chat.date = new Date(chat.date); //because the date comes in as a string

        var chat_block = (chat.username == '{{user.name}}' ? '<li class="out">' : '<li class="in">') +
                            '<img class="avatar" alt="" src="' + chat.user.displayPic + '" />' +
                            '<div class="message">' +
                                '<span class="arrow"> </span>' +
                                '<a href="javascript:;" class="name"> ' + chat.user.displayName + ' </a>' +
                                '<span class="datetime"> at ' + chat.date + ' </span>' +
                                '<span class="body"> ' + chat.message +' </span>' +
                            '</div>' +
                        '</li>';
        $('#chat-box').append(chat_block);
    });

    $('#submit').click(function() {
        var message = $('#message').val();

        if (!message) {
            sweetAlert("Missing Field!", "Please enter a message for the post", "warning");
            return;
        }

        var chat = {};
        chat.message = message;
        chat.date = new Date();
        chat.users = ['{{user.name}}', '{{otherUser.name}}'];
        chat.userId = '{{user._id}}';
        chat.username = '{{user.name}}';
        chat.user = {
            name: '{{user.name}}',
            displayName: '{{user.displayName}}',
            displayPic: '{{user.displayPic}}'
        };

        $.ajax({
            url: '{{app_root}}/with/{{otherUser.name}}',
            type: 'POST',
            data: JSON.stringify(chat),
            dataType: 'json',
            contentType: 'application/json',
            headers: {'X-Bolt-App-Token': '{{app_token}}'},
            success: function(response) {
                $("#message").val("");
                /*if(response.code === 0){
                    $("#message").val("");
                }
                else {
                    sweetAlert(response.errorUserTitle, response.errorUserMessage, "error");
                }*/
            },
            error: function(xhr, status, err){
                //alert(xhr.responseText);
            }
        });
    });
});
</script>

<!-- END UNIQUE SCRIPT FOR ONLY THIS PAGE -->

 {{> footer }}
