<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>School Management System</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="{{app_root}}/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="{{app_root}}/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="{{app_root}}/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{app_root}}/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="{{app_root}}/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
        <link href="{{app_root}}/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
        <link href="{{app_root}}/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
        <link href="{{app_root}}/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
     <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="{{app_root}}/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="{{app_root}}/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="{{app_root}}/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="{{app_root}}/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <!-- END THEME LAYOUT STYLES -->
</head>

<body style="background-color: #fff;overflow-x: hidden;margin: 0;">

<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar" style="margin-top: 50px;border-radius: 0;">
    
</div>
<!-- END PAGE BAR -->

<!-- BEGIN PAGE TITLE-->
<div class="container-fluid">
    <div class="container-fluid">
        <h3 class="page-title"> School Management Dashboard </h3>
    </div>
</div>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->

<!-- BEGIN DASHBOARD STATS 1-->
<div class="container-fluid" id="home-cards">
    
</div>
<div class="clearfix"></div>
<!-- END DASHBOARD STATS 1-->

<div class="container-fluid">
    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Student Performance</span>
                    <span class="caption-helper">weekly stats...</span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn red btn-outline btn-circle btn-sm active">
                            <input type="radio" name="options" class="toggle" id="option1">New</label>
                        <label class="btn red btn-outline btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">Returning</label>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div id="site_statistics_loading">
                    <img src="../assets/global/img/loading.gif" alt="loading" /> </div>
                <div id="site_statistics_content" class="display-none">
                    <div id="site_statistics" class="chart"> </div>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-red-sunglo hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Revenue</span>
                    <span class="caption-helper">monthly stats...</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a href="" class="btn dark btn-outline btn-circle btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Filter Range
                            <span class="fa fa-angle-down"> </span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;"> Q1 2014
                                    <span class="label label-sm label-default"> past </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;"> Q2 2014
                                    <span class="label label-sm label-default"> past </span>
                                </a>
                            </li>
                            <li class="active">
                                <a href="javascript:;"> Q3 2014
                                    <span class="label label-sm label-success"> current </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;"> Q4 2014
                                    <span class="label label-sm label-warning"> upcoming </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div id="site_activities_loading">
                    <img src="../assets/global/img/loading.gif" alt="loading" /> </div>
                <div id="site_activities_content" class="display-none">
                    <div id="site_activities" style="height: 228px;"> </div>
                </div>
                <div style="margin: 20px 0 10px 30px">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                            <span class="label label-sm label-success"> Revenue: </span>
                            <h3>$13,234</h3>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                            <span class="label label-sm label-info"> Tax: </span>
                            <h3>$134,900</h3>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                            <span class="label label-sm label-danger"> Shipment: </span>
                            <h3>$1,134</h3>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                            <span class="label label-sm label-warning"> Orders: </span>
                            <h3>235090</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>

<div class="container-fluid">
    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet light calendar bordered">
            <div class="portlet-title ">
                <div class="caption">
                    <i class="icon-calendar font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Feeds</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="calendar"> </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-hide hide"></i>
                    <span class="caption-subject font-hide bold uppercase">Chats</span>
                </div>
                <div class="actions">
                    <div class="portlet-input input-inline">
                        <div class="input-icon right">
                            <i class="icon-magnifier"></i>
                            <input type="text" class="form-control input-circle" placeholder="search..."> </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body" id="chats">
                <div class="scroller" style="height: 525px;" data-always-visible="1" data-rail-visible1="1">
                    <ul class="chats">
                        <li class="out">
                            <img class="avatar" alt="" src="{{app_root}}/assets/layouts/layout/img/avatar2.jpg" />
                            <div class="message">
                                <span class="arrow"> </span>
                                <a href="javascript:;" class="name"> Lisa Wong </a>
                                <span class="datetime"> at 20:11 </span>
                                <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                            </div>
                        </li>
                        <li class="out">
                            <img class="avatar" alt="" src="{{app_root}}/assets/layouts/layout/img/avatar2.jpg" />
                            <div class="message">
                                <span class="arrow"> </span>
                                <a href="javascript:;" class="name"> Lisa Wong </a>
                                <span class="datetime"> at 20:11 </span>
                                <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                            </div>
                        </li>
                        <li class="in">
                            <img class="avatar" alt="" src="{{app_root}}/assets/layouts/layout/img/avatar1.jpg" />
                            <div class="message">
                                <span class="arrow"> </span>
                                <a href="javascript:;" class="name"> Bob Nilson </a>
                                <span class="datetime"> at 20:30 </span>
                                <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                            </div>
                        </li>
                        <li class="in">
                            <img class="avatar" alt="" src="{{app_root}}/assets/layouts/layout/img/avatar1.jpg" />
                            <div class="message">
                                <span class="arrow"> </span>
                                <a href="javascript:;" class="name"> Bob Nilson </a>
                                <span class="datetime"> at 20:30 </span>
                                <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                            </div>
                        </li>
                        <li class="out">
                            <img class="avatar" alt="" src="{{app_root}}/assets/layouts/layout/img/avatar3.jpg" />
                            <div class="message">
                                <span class="arrow"> </span>
                                <a href="javascript:;" class="name"> Richard Doe </a>
                                <span class="datetime"> at 20:33 </span>
                                <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                            </div>
                        </li>
                        <li class="in">
                            <img class="avatar" alt="" src="{{app_root}}/assets/layouts/layout/img/avatar3.jpg" />
                            <div class="message">
                                <span class="arrow"> </span>
                                <a href="javascript:;" class="name"> Richard Doe </a>
                                <span class="datetime"> at 20:35 </span>
                                <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                            </div>
                        </li>
                        <li class="out">
                            <img class="avatar" alt="" src="{{app_root}}/assets/layouts/layout/img/avatar1.jpg" />
                            <div class="message">
                                <span class="arrow"> </span>
                                <a href="javascript:;" class="name"> Bob Nilson </a>
                                <span class="datetime"> at 20:40 </span>
                                <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                            </div>
                        </li>
                        <li class="in">
                            <img class="avatar" alt="" src="{{app_root}}/assets/layouts/layout/img/avatar3.jpg" />
                            <div class="message">
                                <span class="arrow"> </span>
                                <a href="javascript:;" class="name"> Richard Doe </a>
                                <span class="datetime"> at 20:40 </span>
                                <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                            </div>
                        </li>
                        <li class="out">
                            <img class="avatar" alt="" src="{{app_root}}/assets/layouts/layout/img/avatar1.jpg" />
                            <div class="message">
                                <span class="arrow"> </span>
                                <a href="javascript:;" class="name"> Bob Nilson </a>
                                <span class="datetime"> at 20:54 </span>
                                <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. sed diam nonummy nibh euismod tincidunt ut laoreet. </span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="chat-form">
                    <div class="input-cont">
                        <input class="form-control" type="text" placeholder="Type a message here..." /> </div>
                    <div class="btn-cont">
                        <span class="arrow"> </span>
                        <a href="" class="btn blue icn-only">
                            <i class="fa fa-check icon-white"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>

<!-- BEGIN FOOTER -->
<div class="page-footer" style="background-color: #fff; margin-top:200px;border-top: 1px solid #e7ecf1 !important;"> <!--364150-->
    <div class="page-footer-inner" style="color: #2f353b; text-align:center;float:none;display:block;"> 
        2017 &copy; Campus Technologies Limited
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->
    
<!--[if lt IE 9]>
    <script src="{{app_root}}/assets/global/plugins/respond.min.js"></script>
    <script src="{{app_root}}/assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="{{app_root}}/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
 <!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{{app_root}}/assets/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/horizontal-timeline/horozontal-timeline.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>

<script src="{{app_root}}/assets/global/plugins/bootstrap-growl/jquery.bootstrap-growl.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="{{app_root}}/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{{app_root}}/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
<script src="{{bolt_root}}/socket.io/socket.io.js" type="text/javascript"></script>
<script src="{{bolt_root}}/public/bolt/native/js/bolt.events.js" type="text/javascript"></script>
<script type="text/javascript">
    Bolt.Events.on("bolt/dashboard-card-posted", function(event){
        if (event.token != '{{app_token}}') return;
        var card = event.body;

        if (card.app.indexOf('ctl-sms-') !== 0) return;

        var elems = $('#card_' + card.app);

        if (typeof elems.length == 'undefined' || elems.length == 0) {
            var count = $("#home-cards").children().length;
            if (count == 8) {
                $('#home-cards div:last').remove();
            }

            var append = '';
            if (card.route) {
                var route = (card.route.indexOf('/') == 0) ? card.route : '/' + card.route;
                append = '?route=' + encodeURIComponent(route);
            }
            if (card.query) {
                append += (card.route) ? '&' : '?';
                append += 'query=' + encodeURIComponent(card.query);
            }

            var card_frame =    '<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">' +
                                '<a class="dashboard-stat dashboard-stat-v2 blue" style="background-color:'+ card.background +' !important" href="{{bolt_root}}/apps/' + card.app + append + '">' +
                                '<div class="visual"><img src="{{bolt_root}}/files/' + card.app + '/icon"></div>' +
                                '<div class="details">' +
                                '<div class="number">' +
                                '<span id="card_' + card.app + '" data-counter="counterup" data-value="' + card.caption + '">' + card.caption + '</span></div>' +
                                '<div class="desc"> ' + card.message + ' </div></div>' +
                                '</a>' +
                                '</div>';
            $( "#home-cards" ).prepend(card_frame);
        } else {
            $('#card_' + card.app).attr('data-value', card.caption);
            $('#card_' + card.app).text(card.caption);
        }    
    });
    $(document).ready(function(){
        $.ajax({
            url: '{{bolt_root}}/api/db/cards/find',
            type: 'POST',
            data: JSON.stringify({app: 'bolt-module-dashboard', query: {}}),
            dataType: 'json',
            contentType: 'application/json',
            headers: {'X-Bolt-App-Token': '{{app_token}}'},
            success: function(response, status, xhr){
                if (response.code === 0) {
                    var cards = response.body;
                    cards = cards.reverse().filter(function(card){
                        return card.app.indexOf('ctl-sms-') === 0;
                    });
                    for (index = 0; index < cards.length && index < 8; index++) {
                        var card = cards[index];
                        var append = '';
                        if (card.route) {
                            var route = (card.route.indexOf('/') == 0) ? card.route : '/' + card.route;
                            append = '?route=' + encodeURIComponent(route);
                        }
                        if (card.query) {
                            append += (card.route) ? '&' : '?';
                            append += 'query=' + encodeURIComponent(card.query);
                        }
                        var card_frame =    '<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">' +
                                            '<a class="dashboard-stat dashboard-stat-v2 blue" style="background-color:'+ card.background +' !important" href="{{bolt_root}}/apps/' + card.app + append + '">' +
                                            '<div class="visual"><img src="{{bolt_root}}/files/' + card.app + '/icon"></div>' +
                                            '<div class="details">' +
                                            '<div class="number">' +
                                            '<span id="card_' + card.app + '" data-counter="counterup" data-value="' + card.caption + '">' + card.caption + '</span></div>' +
                                            '<div class="desc"> ' + card.message + ' </div></div>' +
                                            '</a>' +
                                            '</div>';
                        $( "#home-cards" ).append(card_frame);
                    }
                }
            },
            error: function(xhr, status, err) {}
        });
        
    });
</script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="{{app_root}}/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>

<!-- END THEME LAYOUT SCRIPTS -->

</body>
</html>