<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>School Management System</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="{{app_root}}/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="{{app_root}}/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="{{app_root}}/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{app_root}}/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="{{app_root}}/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
        <link href="{{app_root}}/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
        <link href="{{app_root}}/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
        <link href="{{app_root}}/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
     <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="{{app_root}}/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="{{app_root}}/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="{{app_root}}/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="{{app_root}}/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="{{app_root}}/assets/pages/css/card.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
</head>

<body style="background-color: #fff;overflow-x: hidden;margin: 0;">

<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar" style="margin-top: 50px;border-radius: 0;">
    
</div>
<!-- END PAGE BAR -->

<!-- BEGIN PAGE TITLE-->
<div class="container-fluid">
    <div class="container-fluid">
        <h3 class="page-title"> School Management Dashboard </h3>
    </div>
</div>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->

<!-- BEGIN DASHBOARD STATS 1-->
<div class="container-fluid" id="home-tiles">
    
</div>
<div class="clearfix"></div>
<!-- END DASHBOARD STATS 1-->

<div class="container-fluid">
    <ul class="card_group">
        <li class="card">
            <div class="card_flex_display">
                <span class="card_details card_flex_display card_flex">
                    <span class="card_title">
                        Individual Consultancy
                    </span>
                    <span class="card_body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    </span>
                    <span class="card_footer">
                        <a href="" class="btn green">View more</a>
                    </span>
                </span>
            </div>
        </li>
        <li class="card">
            <div class="card_flex_display">
                <span class="card_img">
                    <img src="{{app_root}}/assets/pages/img/0.jpg" alt="">
                </span>
                <span class="card_details card_flex_display card_flex">
                    <span class="card_title_img">
                        Individual Consultancy – Pre-feasibility Studies on Business Opportunities
                    </span>
                    <span class="card_footer">
                        <a href="" class="btn green">View more</a>
                    </span>
                </span>
            </div>
        </li>
    </ul>
</div>

<div class="container-fluid">
    <div class="col-md-6 col-sm-6"  id="view_1">
    </div>
    <div class="col-md-6 col-sm-6"  id="view_2">
    </div>
</div>

<div class="container-fluid">
    <div class="col-md-6 col-sm-6" id="view_3">
    </div>
    <div class="col-md-6 col-sm-6" id="view_4">
    </div>
</div>

<!-- BEGIN FOOTER -->
<div class="page-footer" style="background-color: #fff; margin-top:200px;border-top: 1px solid #e7ecf1 !important;"> 
    <div class="page-footer-inner" style="color: #2f353b; text-align:center;float:none;display:block;"> 
        2017 &copy; Campus Technologies Limited
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->
    
<!--[if lt IE 9]>
    <script src="{{app_root}}/assets/global/plugins/respond.min.js"></script>
    <script src="{{app_root}}/assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<!-- Insert this line before script imports for JQuery to load on electron  -->
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
<script src="{{app_root}}/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
 <!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{{app_root}}/assets/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/horizontal-timeline/horozontal-timeline.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/global/plugins/bootstrap-growl/jquery.bootstrap-growl.min.js" type="text/javascript"></script>
<!-- Insert this line after script imports for JQuery to load on electron -->
<script>if (window.module) module = window.module;</script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="{{app_root}}/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{{app_root}}/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
<script src="{{bolt_root}}/socket.io/socket.io.js" type="text/javascript"></script>
<script src="{{bolt_root}}/public/bolt/native/js/bolt.events.js" type="text/javascript"></script>
<script type="text/javascript">
    var modules = {{{json modules}}};

    $(document).ready(function(){
        $.ajax({
            url: '{{bolt_root}}/api/db/tiles/find',
            type: 'POST',
            data: JSON.stringify({app: 'bolt-module-dashboard', query: {}}),
            dataType: 'json',
            contentType: 'application/json',
            headers: {'X-Bolt-App-Token': '{{app_token}}'},
            success: function(response, status, xhr){
                if (response.code === 0) {
                    var tiles = response.body;
                    tiles = tiles.reverse().filter(function(tile){
                        return modules.map(function(app) {return app.name;}).indexOf(tile.app) > -1;
                    });
                    for (index = 0; index < tiles.length && index < 8; index++) {
                        var tile = tiles[index];
                        var append = '';
                        if (tile.route) {
                            var route = (tile.route.indexOf('/') == 0) ? tile.route : '/' + tile.route;
                            append = '?route=' + encodeURIComponent(route);
                        }
                        if (tile.query) {
                            append += (tile.route) ? '&' : '?';
                            append += 'query=' + encodeURIComponent(tile.query);
                        }
                        var tile_frame =    '<div id="tile_' + tile.app + '" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">' +
                                            '<a class="dashboard-stat dashboard-stat-v2 blue" style="background-color:'+ tile.background +' !important" href="{{bolt_root}}/apps/' + tile.app + append + '">' +
                                            '<div class="visual"><img src="{{bolt_root}}/files/' + tile.app + '/icon-md" style="opacity:0.6"></div>' +
                                            '<div class="details">' +
                                            '<div class="number">' +
                                            '<span id="tile_caption_' + tile.app + '" data-counter="counterup" data-value="' + tile.caption + '">' + tile.caption + '</span></div>' +
                                            '<div class="desc"> ' + tile.message + ' </div></div>' +
                                            '</a>' +
                                            '</div>';
                        $( "#home-tiles" ).append(tile_frame);
                    }
                }
            },
            error: function(xhr, status, err) {}
        });
        
    });

    Bolt.Events.on("bolt/dashboard-tile-posted", function(event){
        if (event.token != '{{app_token}}') return;
        var tile = event.body;

        if (modules.map(function(app) {return app.name;}).indexOf(tile.app) == -1) return;

        var elems = $('#tile_' + tile.app);

        if (typeof elems.length == 'undefined' || elems.length == 0) {
            var count = $("#home-tiles").children().length;
            if (count == 8) {
                $('#home-tiles div:last').remove();
            }

            var append = '';
            if (tile.route) {
                var route = (tile.route.indexOf('/') == 0) ? tile.route : '/' + tile.route;
                append = '?route=' + encodeURIComponent(route);
            }
            if (tile.query) {
                append += (tile.route) ? '&' : '?';
                append += 'query=' + encodeURIComponent(tile.query);
            }

            var tile_frame =    '<div id="tile_' + tile.app + '" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">' +
                                '<a class="dashboard-stat dashboard-stat-v2 blue" style="background-color:'+ tile.background +' !important" href="{{bolt_root}}/apps/' + tile.app + append + '">' +
                                '<div class="visual"><img src="{{bolt_root}}/files/' + tile.app + '/icon-md" style="opacity:0.6"></div>' +
                                '<div class="details">' +
                                '<div class="number">' +
                                '<span id="tile_caption_' + tile.app + '" data-counter="counterup" data-value="' + tile.caption + '">' + tile.caption + '</span></div>' +
                                '<div class="desc"> ' + tile.message + ' </div></div>' +
                                '</a>' +
                                '</div>';
            $( "#home-tiles" ).prepend(tile_frame);
        } else {
            $('#tile_caption_' + tile.app).attr('data-value', tile.caption);
            $('#tile_caption_' + tile.app).text(tile.caption);
        }    
    });

    Bolt.Events.on("bolt/dashboard-tile-deleted", function(event){
        if (event.token != '{{app_token}}') return;
        var tile = event.body;

        $('#tile_' + tile.app).remove();
    });

    var viewsPosted = 0;
    Bolt.Events.on("bolt/dashboard-view-posted", function(event){
        if (event.token != '{{app_token}}') return;
        var view = event.body;

        if (modules.map(function(app) {return app.name;}).indexOf(view.app) == -1) return;

        var elems = $('#view_' + view.app);

        var append = '';
        if (view.route) {
            var route = (view.route.indexOf('/') == 0) ? view.route : '/' + view.route;
            append = '?route=' + encodeURIComponent(route);
        }
        if (view.query) {
            append += (view.route) ? '&' : '?';
            append += 'query=' + encodeURIComponent(view.query);
        }

        if (typeof elems.length == 'undefined' || elems.length == 0) {
            var view_frame =    '<div id="view_' + view.app + '" class="portlet light bordered">' +
                '<div class="portlet-title">' +
                    '<div class="caption">' +
                        '<i class="icon-bar-chart font-dark hide"></i>' +
                        '<span id="view_caption_' + view.app + '" class="caption-subject font-dark bold uppercase">' + view.caption + '</span>' +
                    '</div>' +
                    '<div class="actions">' +
                        '<a class="btn red btn-outline btn-circle btn-sm active" href="{{bolt_root}}/apps/' + view.app + '" target="main_frame">Visit App</a>' +
                    '</div>' +
                '</div>' +
                '<div class="portlet-body">' +
                    '<object id="view_data_' + view.app + '" type="text/html" data="{{bolt_root}}/apps/' + view.app + append + '" width="100%" height="300">' +
                    '</object>' +
                '</div>' +
            '</div>';

            viewsPosted++;
            var viewDiv = (viewsPosted % 5);
            $( "#view_" + viewDiv ).html(view_frame);
        } else {
            $('#view_caption_' + view.app).text(view.caption);
            $('#view_data_' + view.app).attr('data', '{{bolt_root}}/apps/' + view.app + append);
        }    
    });

    Bolt.Events.on("bolt/dashboard-view-deleted", function(event){
        if (event.token != '{{app_token}}') return;
        var view = event.body;

        $('#view_' + view.app).remove();
    });
</script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="{{app_root}}/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="{{app_root}}/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>

<!-- END THEME LAYOUT SCRIPTS -->

</body>
</html>