{{> header}}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="/public/bolt-ui-sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
{{> sub_header}}

{{> nav }}

<!-- BEGIN PAGE TITLE-->
<div class="container-fluid">
    <div class="col-md-8 col-sm-8 col-xs-10 col-xs-6">
        <h3 class="page-title"> Assign Subject to Class </h3>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-2 text-right">
        <a href="{{app_root}}/class-settings" class="btn btn-default m-icon">
            <i class="m-icon-swapleft"></i> <span class=" hidden-xs">Go Back</span>
        </a>
    </div>
</div>
<!-- END PAGE TITLE-->


<!-- BEGIN PAGE CONTENT-->
<div class="container-fluid">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered" id="result_section">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i class="icon-doc font-green"></i>
                    <span class="caption-subject bold uppercase"> Assign Subject to {{schClass.displayName}}</span>
                </div>
                <div class="actions">
                    <button class="btn green send"><span><i class="fa fa-check"></i></span> Assign</button>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="table-container">
                    <table class="table table-hover table-light" id="assign_subject">
                        <thead>
                            <tr>
                                <th class="table-checkbox" width="5%">
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="group-checkable" data-set="#sample_3 .checkboxes" />
                                        <span></span>
                                    </label>
                                </th>
                                <th style="width: 25%"> Subject name </th>
                                <th style="width: 20%"> Subject code </th>
                                <th style="width: 15%"> Compulsory </th>
                                <th style="width: 35%"> Subject Teacher </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each subjects}}
                            <tr>
                                <td>
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="checkboxes" value="{{_id}}" id="subject_id" />
                                        <span></span>
                                    </label>
                                </td>
                                <td id="subjectName">{{displayName}}</td>
                                <td>{{code}}</td>
                                <td>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <!-- <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                <input type="checkbox" class="checkboxes" id="compulsory" checked />
                                                <span></span>
                                            </label> --> <!-- class="make-switch" -->
                                            <input type="checkbox" data-on-color="success" data-off-color="danger" data-size="small"  data-on-text="Yes" data-off-text="No" id="compulsory" checked>
                                        </div> 
                                    </div>
                                </td>
                                <td>
                                    <div class="portlet-input input-inline input-medium">
                                        <select class="form-control" id="teacher">
                                            <option value="">Select Teacher</option>
                                            {{#each ../teachers}}
                                            <option value="{{name}}">{{displayName}}</option>
                                            {{/each}}
                                        </select> 
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="text-right">
                <button class="btn green send"><span><i class="fa fa-check"></i></span> Assign</button>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>

<!-- END PAGE CONTENT-->
{{> copyright }}
 
{{> sub_footer }}

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/public/bolt-ui-sweetalert/dist/sweetalert.min.js" type="text/javascript"></script>
<script src="/public/bolt-ui-sweetalert/dist/sweetalert-dev.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN UNIQUE SCRIPT FOR ONLY THIS PAGE -->
<script type="text/javascript">

    $('tbody tr').find('#compulsory').prop('class', 'make-switch');

    var classSubjects = {{{json classSubjects}}};
    var table= $('#assign_subject');

    if (classSubjects) {
        var subjectIds = classSubjects.map(function (s) {
            return s.subjectId;
        });
        var compulsories = classSubjects.map(function (s) {
            return s.compulsory;
        });
        var teacherNames = classSubjects.map(function (s) {
            return s.teacherName;
        });
        
        $('tbody input:checkbox#subject_id', table).each(function(index, elem) {
            if (subjectIds.indexOf(elem.value) > -1) {
                var idx = subjectIds.indexOf(elem.value);
                elem.checked = true;
                $(this).closest('tbody tr').find('#compulsory').attr('checked', compulsories[idx]);
                var tName = teacherNames[idx];
                if (tName) $(this).closest('tbody tr').find('#teacher option[value=' + tName + ']').attr('selected', true);
            }
        });
    }

    //Select all checkboxes that are NOT disabled
    $('.group-checkable').on('click', function() {
       $('#subject_id:enabled').prop('checked', this.checked);
    });

    $('.send').on('click', function() {
        var table= $('#assign_subject');
        var arrayOfValues = [];

        $('tbody input:checkbox#subject_id:checked', table).each(function() {
            var schClass = {{{json schClass}}};
            var object = {};
            object.compulsory = $(this).closest('tbody tr').find('#compulsory').is(':checked');
            object.subjectId = $(this).val();
            object.subjectName = $(this).closest('tbody tr').find('#subjectName').text();
            object.classId = schClass._id;
            object.className = schClass.displayName;
            object.teacherName = $(this).closest('tbody tr').find('#teacher option:selected').val();
            object.teacherDisplayName = $(this).closest('tbody tr').find('#teacher option:selected').text();
            
            arrayOfValues.push(object); 
        });
        
        var schClass = {{{json schClass}}};
        $.ajax({
            url: '{{bolt_root}}/api/db/class-subjects/remove?classId={{schClass._id}}',
            type: 'POST',
            data: JSON.stringify({ app:'ctl-sms-school-admin' }),
            dataType: 'json',
            contentType: 'application/json',
            headers: {'X-Bolt-App-Token': '{{app_token}}'},
            success: function(response) {
                if(response.code === 0){
                    arrayOfValues.forEach(function (a) {
                        $.ajax({
                            url: '{{bolt_root}}/api/db/class-subjects/insert',
                            type: 'POST',
                            data: JSON.stringify({app:'ctl-sms-school-admin', object: a}),
                            dataType: 'json',
                            contentType: 'application/json',
                            headers: {'X-Bolt-App-Token': '{{app_token}}'},
                            success: function(response2, status2, xhr2){},
                            error: function(xhr2, status2, err2) {}
                        });
                    });

                    //Sweet alert
                    swal({
                        title: "Class Updated!",
                        text: schClass.displayName + " has been updated.",
                        type: "success",
                        showCancelButton: false,
                        closeOnConfirm: true
                    }, function(isConfirm){
                        if (isConfirm) {
                            window.location.href="{{app_root}}/class-settings";
                        }
                    });
                }
                else {
                    sweetAlert(response.errorUserTitle, response.errorUserMessage, "error");
                }
            },
            error: function(xhr, status, err){
                alert(xhr.responseText);
            }
        });
    });
</script>
<!-- END UNIQUE SCRIPT FOR ONLY THIS PAGE -->
{{> footer }}