{{> header}}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="/public/metronic-for-bolt/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="/public/metronic-for-bolt/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="/public/metronic-for-bolt/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="/public/metronic-for-bolt/assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css" />

<link href="/public/metronic-for-bolt/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="/public/metronic-for-bolt/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/public/metronic-for-bolt/assets/pages/css/datatable_custom.css" rel="stylesheet" type="text/css" />
<link href="/public/bolt-ui-sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
{{> sub_header}}

{{> nav }}

<!-- BEGIN PAGE TITLE-->
<div class="container-fluid">
    <div class="col-md-8 col-sm-8 col-xs-10 col-xs-6">
        <h3 class="page-title"> Edit Timetable </h3>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-2 text-right">
        <a href="{{app_root}}/class-settings" class="btn btn-default m-icon">
            <i class="m-icon-swapleft"></i> <span class=" hidden-xs">Go Back</span>
        </a>
    </div>
</div>
<!-- END PAGE TITLE-->


<!-- BEGIN PAGE CONTENT-->
<div class="container-fluid">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">Timetable for {{schClass.displayName}}</span>
                </div>
            </div>
            <div class="portlet-body">

                <div class="table-container">

                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-3 col-sm-12">

                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group form-md-line-input">
                                        <select name="subject" id="subject" class="form-control ">
                                            {{#each classSubjects}}
                                            <option value="{{subjectId}}">{{subjectDisplayName}}</option>
                                            {{/each}}
                                        </select>
                                        <label for="event_title" class="control-label">Subject</label>
                                    </div>                                     

                                </div>

                                <label class="control-label col-md-12">Start</label>
                                <div class="col-md-12 col-sm-12">

                                    <div class="input-group date form_datetime">
                                        <input id="start_time" type="text" size="16" readonly class="form-control">
                                        <span class="input-group-btn">
                                            <button class="btn default date-set" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    
                                </div>
                                <br/><br/><br/>

                                <label class="control-label col-md-12">End</label>
                                <div class="col-md-12 col-sm-12">

                                    <div class="input-group date form_datetime">
                                        <input id="end_time" type="text" size="16" readonly class="form-control">
                                        <span class="input-group-btn">
                                            <button class="btn default date-set" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <br clear="all" /><br/>
                                <div>

                                    <button id="update_timetable" type="button" data-loading-text="Loading..." class="btn green mt-ladda-btn ladda-button mt-progress-demo" data-style="expand-left">
                                        <span class="ladda-label">Update</span>
                                    </button>

                                    <button id="delete_timetable" type="button" data-loading-text="Loading..." class="btn green mt-ladda-btn ladda-button mt-progress-demo" data-style="expand-left">
                                        <span class="ladda-label">Delete</span>
                                    </button>
                                </div>


                                
                                
                            </div>
                            <div class="col-md-9 col-sm-12">
                                <table class="table table-striped table-bordered table-hover table-checkable" id="">
                                    <thead>
                                        <tr>
                                            <th class="table-checkbox" width="5%">
                                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                    <input type="checkbox" class="group-checkable" data-set="#sample_3 .checkboxes" />
                                                    <span></span>
                                                </label>
                                            </th>
                                            <th> Subject</th>
                                            <th> Start </th>
                                            <th> End </th>

                                        </tr>
                                    </thead>
                                    <tbody id="timetable_rows">

                                    </tbody>
                                </table>


                            </div>


                        </div>
                    </div>

                    
                    
                </div>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>


<!-- END PAGE CONTENT-->
{{> copyright }}

{{> sub_footer }}

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/public/metronic-for-bolt/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="/public/metronic-for-bolt/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>



<script src="/public/metronic-for-bolt/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/public/metronic-for-bolt/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
<script src="/public/metronic-for-bolt/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/public/metronic-for-bolt/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/public/metronic-for-bolt/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="/public/bolt-ui-sweetalert/dist/sweetalert.min.js" type="text/javascript"></script>
<script src="/public/bolt-ui-sweetalert/dist/sweetalert-dev.js" type="text/javascript"></script>
<script src="/public/metronic-for-bolt/assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN UNIQUE SCRIPT FOR ONLY THIS PAGE -->
<script type="text/javascript">
var SLOTS = [];
var INDEX = -1;

function displayTimetableRows(items){
    //appends rows of timetable
    $('#timetable_rows').html('');

    for (var index=0; index < items.length; index++){
        var item =items[index];
        var start_date = moment(item.start).format('dddd HH:mm');
        var end_date = moment(item.end).format('dddd HH:mm');

        rows = '<tr class="timetable_row"><td>';
        rows += '<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">';
        rows += '<input type="checkbox" class="checkboxes" value="'+index+'" />';
        rows += '<span></span></label></td>';
        rows += '<td class="display_name">'+item.subjectDisplayName+'</td>';
        rows += '<td class="start_date">'+start_date+'</td>'; 
        rows += '<td class="end_date">'+end_date+'</td></tr>'; 
        $('#timetable_rows').append(rows);
    }
}

function getTimetableList(){//fetches timetable rows based on classes & date selected
    $.ajax({//fetches timetable rows
        url:'{{bolt_root}}/api/db/timetable-slots/find?classId={{schClass._id}}',
        type:'POST',
        data: JSON.stringify({app: 'ctl-sms-school-admin'}),
        dataType:'json',
        contentType:'application/json',
        headers: {'X-Bolt-App-Token': '{{app_token}}'},
        success:function(response){
            $('#timetable_rows').html('');

            if(response.code ===0){                

                var slots = response.body;
                if(slots.length > 0){ 
                    SLOTS = slots;                   
                    displayTimetableRows(slots);
                }

            } 
        },
        error:function(xhr,status,err){
            alert(xhr.responseText);
        }
    });
}



$(document).ready(function(){

    getTimetableList(); //fetches timetable rows on page load

    $('body').on('click', '.timetable_row', function(){
        var $this = $(this);
        var today = new Date();
        var curr_year = today.getFullYear();
        var subject = $this.find('td.display_name').text();
        var start_date = $this.find('td.start_date').text();
        start_date = moment(start_date + ' ' + curr_year,'dddd HH:mm YYYY').format('YYYY dddd HH:mm');
        $('#start_time').val(start_date);
        var end_date = $this.find('td.end_date').text();
        end_date = moment(end_date + ' ' + curr_year,'dddd HH:mm YYYY').format('YYYY dddd HH:mm');
        $('#end_time').val(end_date);
        $("input[type='checkbox']").prop('checked',false);
        $this.find('input').prop('checked',true);
        //get row index
        INDEX = $this.find('input').val();
        //$('#subject option[value=' + SLOTS[INDEX].subjectId + ']').attr('selected', true);
        $('#subject option[value=' + SLOTS[INDEX].subjectId + ']')[0].selected = true;
    });

    $('body').on('click', '#delete_timetable', function(){
        //get selected checkbox,pop off array,update array
        $('.timetable_row').each(function(index, item){
            if($(this).find('.checkboxes').is(':checked')){
                var slot = SLOTS[index];
                console.log(slot._id)
                
                //update
                $.ajax({
                    url:'{{bolt_root}}/api/db/timetable-slots/remove?_id=' + slot._id,
                    type:'POST',
                    data:JSON.stringify({app: 'ctl-sms-school-admin'}),
                    dataType:'json',
                    contentType:'application/json',
                    headers: {'X-Bolt-App-Token': '{{app_token}}'},
                    success:function(response){
                        if (response.code == 0) {
                            //SLOTS.splice(index, 1);

                            swal({
                                title: "Timetable Updated!",
                                text: "Timetable for {{schClass.displayName}} has been updated.",
                                type: "success",
                                showCancelButton: false,
                                closeOnConfirm: true
                            }, function(isConfirm){
                                if (isConfirm) {
                                    window.location.href="{{app_root}}/edit-timetable/{{schClass._id}}";
                                }
                            });
                        }
                    },
                    error:function(xhr,status,err){
                        alert(xhr.responseText);
                    }
                });
            }            
        });
    });

    $('body').on('click', '#update_timetable', function(){
        if (INDEX < 0) {
            swal("", "Please select the timetable slot you wish to update", "error");
            return;
        }

        var slot = {
            classId: '{{schClass._id}}',
            classDisplayName: '{{schClass.displayName}}',
            subjectId: $('#subject option:selected').val(),
            subjectDisplayName: $('#subject option:selected').text(),
        };

        var start_time=$('#start_time').val();
        slot.start = moment(start_time,'YYYY dddd HH:mm');

        var end_time=$('#end_time').val();
        slot.end = moment(end_time,'YYYY dddd HH:mm');
        
        
        $.ajax({
            url:'{{bolt_root}}/api/db/timetable-slots/update?_id=' + SLOTS[INDEX]._id,
            type:'POST',   
            data: JSON.stringify({app: 'ctl-sms-school-admin', values: slot}),             
            dataType:'json',
            contentType:'application/json',
            headers: {'X-Bolt-App-Token': '{{app_token}}'},
            success:function(response){
                if (response.code == 0) {
                    /*//get selected data,swap object,update array
                    var temp = SLOTS[INDEX]._id;
                    SLOTS[INDEX] = slot;
                    SLOTS[INDEX]._id = temp;*/

                    swal({
                        title: "Timetable Updated!",
                        text: "Timetable for {{schClass.displayName}} has been updated.",
                        type: "success",
                        showCancelButton: false,
                        closeOnConfirm: true
                    }, function(isConfirm){
                        if (isConfirm) {
                            window.location.href="{{app_root}}/edit-timetable/{{schClass._id}}";
                        }
                    });
                }
            },
            error:function(xhr,status,err){
               alert(err);
           }
        });
    });
   

});

</script>
<!-- END UNIQUE SCRIPT FOR ONLY THIS PAGE -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/public/metronic-for-bolt/assets/pages/scripts/table-datatables-managed.min.js" type="text/javascript"></script>
<script src="/public/metronic-for-bolt/assets/global/plugins/moment.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
{{> footer }}