<!-- BEGIN TOP NAVIGATION MENU -->
<div class="page-header navbar navbar-fixed-top" id="submenu">
    <div class="page-header-inner ">
        <div class="page-logo" style="width:auto;">
            
        </div>
        <div class="hor-menu collapse navbar-collapse" id="burger">
            <ul class="nav navbar-nav">
                
            </ul>
            {{!-- <div class="btn-group pull-right">
                <span type="button" class="btn btn-circle btn-icon-only btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="width:25px;height:25px;padding:3px 0 2px;margin-top:9px;"> 
                    <i class="fa fa-ellipsis-v"></i>
                </span>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="#">
                            <i class="icon-bell"></i> Action</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-shield"></i> Another action</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-user"></i> Something else here</a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a href="#">
                            <i class="icon-bag"></i> Separated link</a>
                    </li>
                </ul>
            </div> --}}
        </div>

        <!--Help section-->
        {{!-- <span class="btn btn-circle btn-icon-only btn-info pull-right" style="width:25px;height:25px;padding:3px 0 2px;margin-top:9px;margin-right:20px;" title="Help"> 
            <i class="fa fa-question"></i>
        </span> --}}      

        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target="#burger">
            <span></span>
        </a>
    </div>
</div>
<!-- END TOP NAVIGATION MENU -->

<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    
</div>
<!-- END PAGE BAR -->