{{> header}}

{{> sub_header}}

{{> nav }}

<!-- BEGIN PAGE TITLE-->
<div class="container-fluid">
    <div class="col-md-12">
        <h3 class="page-title"> Manage Guardians </h3>
    </div>
</div>
<!-- END PAGE TITLE-->


<!-- BEGIN PAGE CONTENT-->
<div class="container-fluid">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title ">
                <div class="caption">
                    <i class="icon-calendar font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Module Description</span>
                </div>
            </div>
            <div class="portlet-body">
                <ul class="list-group">
                    <li class="list-group-item"> 
                        <h3 class="list-group-item-heading">Register Guardian</h3><br>
                        <p>
                            Register a new guardian and also assign ward(s) to guardian(s).
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h3 class="list-group-item-heading">View Guardians Record</h3><br>
                        <p>
                            View, edit and delete guardians' record.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<!-- END PAGE CONTENT-->
{{> copyright }}
 
 {{> sub_footer }}
 <!-- BEGIN PAGE LEVEL PLUGINS -->

 <!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->

<!-- END PAGE LEVEL SCRIPTS -->
 {{> footer }}