{{> header}}

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="/public/bolt-ui-sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css" />
    <link href="/public/ctl-sms-home/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

{{> sub_header}}

{{> nav }}

<!-- BEGIN PAGE TITLE-->
<div class="container-fluid">
    <div class="col-md-12">
        <h3 class="page-title"> Add Category</h3>
    </div>
</div>
<!-- END PAGE TITLE-->

<!-- BEGIN PAGE CONTENT-->
<div class="container-fluid">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i class="icon-layers font-green"></i>
                    <span class="caption-subject bold uppercase"> Add New Category</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" id="add_category" autocomplete="off">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <select name="category" class="form-control" id="category">
                                        <option value=""></option>
                                        {{#each categories}}
                                        <option value="{{_id}}">{{displayName}}</option>
                                        {{/each}}
                                    </select>
                                    <label for="category">
                                        Category (if applicable)
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input class="form-control" name="name" id="name" type="text" maxlength="300">
                                    <label for="name">
                                        Category name <span class="required">*</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input class="form-control" name="description" id="description" type="text" maxlength="300">
                                    <label for="description">
                                        Description <span class="required">*</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group form-md-line-input">
                                    <label class="control-label">Tags</label>
                                    <select multiple data-role="tagsinput" id="tags">
                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions noborder">
                        <button type="submit" class="btn green">Submit</button>
                        <button type="reset" class="btn default">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>
<!-- END PAGE CONTENT-->
{{> copyright }}
 
{{> sub_footer }}

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/public/ctl-sms-home/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js" type="text/javascript"></script>
<script src="/public/ctl-sms-home/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/public/bolt-ui-sweetalert/dist/sweetalert.min.js" type="text/javascript"></script>
<script src="/public/bolt-ui-sweetalert/dist/sweetalert-dev.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<!-- BEGIN UNIQUE SCRIPT FOR ONLY THIS PAGE -->

<script type="text/javascript">
var FormValidationMd = function() {
    var handleValidation2 = function() {
        var form1 = $('#add_category');
        var error1 = $('.alert-danger', form1);
        var success1 = $('.alert-success', form1);

        form1.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            messages: {
                name: {
                required: 'Category name is required'
                },
                description: {
                required: 'Description of category is required',
                }
            },
            rules: {
                name: {
                required: true
                },
                description: {
                required: true,
                }
            },

            invalidHandler: function(event, validator) { //display error alert on form submit              
                success1.hide();
                error1.show();
                App.scrollTo(error1, -200);
            },

            errorPlacement: function(error, element) {
                if (element.is(':checkbox')) {
                    error.insertAfter(element.closest(".md-checkbox-list, .md-checkbox-inline, .checkbox-list, .checkbox-inline"));
                } else if (element.is(':radio')) {
                    error.insertAfter(element.closest(".md-radio-list, .md-radio-inline, .radio-list,.radio-inline"));
                } else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                }
            },

            highlight: function(element) { // hightlight error inputs
                $(element)
                .closest('.form-group').addClass('has-error'); // set error class to the control group
            },

            unhighlight: function(element) { // revert the change done by hightlight
                $(element)
                .closest('.form-group').removeClass('has-error'); // set error class to the control group
            },

            success: function(label) {
                label
                .closest('.form-group').removeClass('has-error'); // set success class to the control group
            },

            submitHandler: function(form) {
                success1.show();
                error1.hide();

                var parentId = null;
                if($('#category option').is(":selected")) {
                    parentId = $('#category').val();
                }

                var displayName = $("#name").val();
                var description = $("#description").val();

                var tags = []; 
                $('#tags :selected').each(function(i, selected){
                  tags.push(selected.value); 
                });
                    
                //create staff as a bolt user
                $.ajax({
                    url: '{{bolt_root}}/api/db/categories/insert',
                    type: 'POST',
                    data: JSON.stringify({ object: { parentId: parentId, displayName: displayName, description: description, tags: tags }}),
                    dataType: 'json',
                    contentType: 'application/json',
                    headers: {'X-Bolt-App-Token': '{{app_token}}'},
                    success: function(response) {
                        if(response.code === 0){
                            //Sweet alert
                            swal({
                                title: "Category Created!",
                                text: displayName + " has been created.",
                                type: "success",
                                showCancelButton: false,
                                closeOnConfirm: true
                            }, function(isConfirm){
                                if (isConfirm) {
                                    window.location.href="{{app_root}}/add-category";
                                }
                            });
                        }
                        else {
                            sweetAlert(response.errorUserTitle, response.errorUserMessage, "error");
                        }
                    },
                    error: function(xhr, status, err){
                        alert(xhr.responseText);
                    }
                });
            }
        });
    };

    return {
        //main function to initiate the module
        init: function() {
            handleValidation2();
        }
    };
}();

jQuery(document).ready(function() {
    FormValidationMd.init();
});
</script>

<!-- END UNIQUE SCRIPT FOR ONLY THIS PAGE -->
 
 {{> footer }}