{{> header}}

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="/public/metronic-for-bolt/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/bolt-ui-sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

{{> sub_header}}

{{> nav }}

<!-- BEGIN PAGE TITLE-->
<div class="container-fluid">
    <div class="col-md-12">
        <h3 class="page-title"> Manage School Term</h3>
    </div>
</div>
<!-- END PAGE TITLE-->

<!-- BEGIN PAGE CONTENT-->
<div class="container-fluid">
    <div class="col-md-12 ">
        {{#if thereIsCurrent}}
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i class="icon-layers font-green"></i>
                    <span class="caption-subject bold uppercase"> Create School Term for {{currentSession.displayName}}</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" id="new_term" autocomplete="off">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12"> 
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input class="form-control" name="school_term" id="school_term" type="text" maxlength="100">
                                    <label for="school_term">
                                        School Term <span class="required">*</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <input class="form-control date-picker" name="term_start_date" type="text" data-date-format="dd-mm-yyyy" id="term_start_date">
                                    <label for="term_start_date">
                                        Term starts <span class="required">*</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <input class="form-control date-picker" name="term_end_date" type="text" data-date-format="dd-mm-yyyy" id="term_end_date">
                                    <label for="term_end_date">
                                        Term ends <span class="required">*</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="md-checkbox">
                                    <input type="checkbox" value="1" id="is_current" class="md-check">
                                    <label for="is_current">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Current term
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions noborder">
                        <button type="submit" class="btn green">Submit</button>
                        <button type="reset" class="btn default">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
        {{else}}
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="note note-success">
                    <h4 class="block">No current academic session!</h4>
                    <p> 
                        There is no current session. Please create a new current session or assign an existing academic session as a current session to proceed. 
                    </p>
                    <p>&nbsp;</p>
                    <p>
                        How do you wish to proceed?<br><br>
                        <a class="btn green" href="{{app_root}}/new-session">New session</a>
                        <a class="btn green" href="{{app_root}}/view-sessions">Existing session</a>
                    </p>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</div>
<!-- END PAGE CONTENT-->
 {{> copyright }}

{{> sub_footer }}

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/public/metronic-for-bolt/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="/public/metronic-for-bolt/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script type="text/javascript">
window.onload = function() {
    document.getElementById("school_term").focus();
};
</script>
<script src="/public/metronic-for-bolt/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
<script src="/public/bolt-ui-sweetalert/dist/sweetalert.min.js" type="text/javascript"></script>
<script src="/public/bolt-ui-sweetalert/dist/sweetalert-dev.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<!-- BEGIN UNIQUE SCRIPT FOR ONLY THIS PAGE -->

<script type="text/javascript">
var FormValidationMd = function() {
    var handleValidation2 = function() {
        var form1 = $('#new_term');
        var error1 = $('.alert-danger', form1);
        var success1 = $('.alert-success', form1);

        form1.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            messages: {
                school_term: {
                required: 'School term is required'
                },
                term_start_date: {
                required: 'Term start date is required'
                },
                term_end_date: {
                required: 'Term end date is required'
                }
            },
            rules: {
                school_term: {
                required: true
                },
                term_start_date: {
                required: true
                },
                term_end_date: {
                required: true
                }
            },

            invalidHandler: function(event, validator) { //display error alert on form submit              
                success1.hide();
                error1.show();
                App.scrollTo(error1, -200);
            },

            errorPlacement: function(error, element) {
                if (element.is(':checkbox')) {
                    error.insertAfter(element.closest(".md-checkbox-list, .md-checkbox-inline, .checkbox-list, .checkbox-inline"));
                } else if (element.is(':radio')) {
                    error.insertAfter(element.closest(".md-radio-list, .md-radio-inline, .radio-list,.radio-inline"));
                } else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                }
            },

            highlight: function(element) { // hightlight error inputs
                $(element)
                .closest('.form-group').addClass('has-error'); // set error class to the control group
            },

            unhighlight: function(element) { // revert the change done by hightlight
                $(element)
                .closest('.form-group').removeClass('has-error'); // set error class to the control group
            },

            success: function(label) {
                label
                .closest('.form-group').removeClass('has-error'); // set success class to the control group
            },

            submitHandler: function(form) {
                success1.show();
                error1.hide();

                var term = {};
                term.displayName = $("#school_term").val();
                term.begin = $("#term_start_date").val();
                term.end = $("#term_end_date").val();
                term.isCurrent = $("#is_current").is(":checked");
                term.sessionId = "{{currentSession._id}}";
                    
                $.ajax({
                    url: '{{bolt_root}}/api/db/terms/insert',
                    type: 'POST',
                    data: JSON.stringify({ object: term }),
                    dataType: 'json',
                    contentType: 'application/json',
                    headers: {'X-Bolt-App-Token': '{{app_token}}'},
                    success: function(response) {
                        if(response.code === 0){
                            //Sweet alert
                            swal({
                                title: "Term Created!",
                                text: term.displayName + " has been created.",
                                type: "success",
                                showCancelButton: false,
                                closeOnConfirm: true
                            }, function(isConfirm){
                                if (isConfirm) {
                                    window.location.href="{{app_root}}/new-term";
                                }
                            });
                        }
                        else {
                            sweetAlert(response.errorUserTitle, response.errorUserMessage, "error");
                        }
                    },
                    error: function(xhr, status, err){
                        alert(xhr.responseText);
                    }
                });
            }
        });
    };

    return {
        //main function to initiate the module
        init: function() {
            handleValidation2();
        }
    };
}();

jQuery(document).ready(function() {
    FormValidationMd.init();
});
</script>

<!-- END UNIQUE SCRIPT FOR ONLY THIS PAGE -->
 
 {{> footer }}