{{> header}}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="/public/metronic-for-bolt/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/metronic-for-bolt/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/public/metronic-for-bolt/assets/pages/css/datatable_custom.css" rel="stylesheet" type="text/css" />
    <link href="/public/bolt-ui-sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
{{> sub_header}}

{{> nav }}

<!-- BEGIN PAGE TITLE-->
<div class="container-fluid">
    <div class="col-md-12">
        <h3 class="page-title"> Avaliable Terms</h3>
    </div>
</div>
<!-- END PAGE TITLE-->


<!-- BEGIN PAGE CONTENT-->
<div class="container-fluid">
    <div class="col-md-12">
        {{#if currentSession}}
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">List of Avaliable Terms in {{currentSession.displayName}}</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a href="{{app_root}}/new-term" class="btn green">
                            <i class="fa fa-plus"></i> <span class="hidden-xs"> Add Term</span>
                        </a>
                    </div>
                    <div class="btn-group">
                        <a href="" class="btn red" id="delete_btn">
                            <i class="fa fa-trash-o"></i> <span class="hidden-xs">Delete</span>
                        </a>
                    </div>
                    <div class="btn-group">
                        <a class="btn blue" href="javascript:;" data-toggle="dropdown">
                            <i class="fa fa-cog"></i>
                            <span class="hidden-xs"> Tools </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right" id="sample_3_tools">
                            <li>
                                <a href="javascript:;" data-action="0" class="tool-action">
                                    <i class="icon-printer"></i> Print</a>
                            </li>
                            <li>
                                <a href="javascript:;" data-action="1" class="tool-action">
                                    <i class="icon-check"></i> Copy</a>
                            </li>
                            <li>
                                <a href="javascript:;" data-action="2" class="tool-action">
                                    <i class="icon-doc"></i> PDF</a>
                            </li>
                            <li>
                                <a href="javascript:;" data-action="3" class="tool-action">
                                    <i class="icon-paper-clip"></i> Excel</a>
                            </li>
                            <li>
                                <a href="javascript:;" data-action="4" class="tool-action">
                                    <i class="icon-cloud-upload"></i> CSV</a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="javascript:;" data-action="5" class="tool-action">
                                    <i class="icon-refresh"></i> Reload</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <table class="table table-striped table-bordered table-hover table-checkable" id="sample_3">
                        <thead>
                            <tr>
                                <th class="table-checkbox" width="5%">
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="group-checkable" data-set="#sample_3 .checkboxes" />
                                        <span></span>
                                    </label>
                                </th>
                                <th> Term </th>
                                <th> Start date </th>
                                <th> End date </th>
                                <th> Status </th>
                                <th> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each terms}}
                            <tr>
                                <td>
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="checkboxes" value="{{_id}}" />
                                        <span></span>
                                    </label>
                                </td>
                                <td> {{displayName}} </td>
                                <td> {{begin}} </td>
                                <td> {{end}} </td>
                                <td>
                                    {{#if isCurrent}}
                                    <span class="badge badge-empty badge-success"></span> Active
                                    {{else}}
                                    <span class="badge badge-empty badge-default"></span> Inactive
                                    {{/if}}

                                </td>
                                <td> 
                                    <a href="{{../ app_root}}/edit-term/{{_id}}" class="btn dark btn-xs btn-outline sbold uppercase">
                                        <i class="fa fa-edit"></i> <span class="hidden-xs"> Edit </span>
                                    </a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{else}}
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="note note-success">
                    <h4 class="block">No current academic session!</h4>
                    <p> 
                        There is no current session. Please create a new current session or assign an existing academic session as a current session to proceed. 
                    </p>
                    <p>&nbsp;</p>
                    <p>
                        How do you wish to proceed?<br><br>
                        <a class="btn green" href="{{app_root}}/new-session">New session</a>
                        <a class="btn green" href="{{app_root}}/view-sessions">Existing session</a>
                    </p>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</div>

<!-- END PAGE CONTENT-->
{{> copyright }}
 
{{> sub_footer }}

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/public/metronic-for-bolt/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/public/metronic-for-bolt/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/public/metronic-for-bolt/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="/public/bolt-ui-sweetalert/dist/sweetalert.min.js" type="text/javascript"></script>
<script src="/public/bolt-ui-sweetalert/dist/sweetalert-dev.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN UNIQUE SCRIPT FOR ONLY THIS PAGE -->
<script type="text/javascript">
    $('#delete_btn').click(function(event) {
        event.preventDefault(); 
        var names = $('input[type=checkbox]:checked').map(function() {
            return $(this).val();
        }).get();
        
        function deleteSession(index) {
            if (index == -1) {
                swal({
                    title: "Delete Operation",
                    text: "Delete operation terminated.",
                    type: "warning",
                    showCancelButton: false,
                    closeOnConfirm: true
                }, function(isConfirm){
                    if (isConfirm) {
                        window.location.href="{{app_root}}/view-terms";
                    }
                });
            } else if (index >= names.length) { //this is the end
                //be sure something was deleted
                if (names.length > 0) {
                    //Sweet alert
                    swal({
                        title: "Delete Operation",
                        text: "Delete operation completed.",
                        type: "success",
                        showCancelButton: false,
                        closeOnConfirm: true
                    }, function(isConfirm){
                        if (isConfirm) {
                            window.location.href="{{app_root}}/view-terms";
                        }
                    });
                }
            } else {
                var name = names[index];
                $.ajax({
                    url: "{{bolt_root}}/api/db/terms/remove?_id=" + name,
                    type: 'POST',
                    data: JSON.stringify({}),
                    //processData: false,
                    dataType: 'json',
                    contentType: 'application/json',
                    headers: {'X-Bolt-App-Token': '{{app_token}}'},
                    success: function(response, status, xhr) {
                        if(response.code === 0){
                            deleteSession(++index);
                        }
                        else {
                            swal({
                                title: response.errorUserTitle,
                                text: response.errorUserMessage,
                                type: "error",
                                showCancelButton: true,
                                closeOnConfirm: true
                            }, function(isConfirm){
                                if (isConfirm) {
                                    deleteSession(++index);
                                }
                                else {
                                    deleteSession(-1);
                                }
                            });
                        }
                    }, 
                    error: function(xhr, status, err){
                        alert(xhr.responseText);
                    }
                });
            }
        }

        deleteSession(0);
    });
</script>
<!-- END UNIQUE SCRIPT FOR ONLY THIS PAGE -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/public/metronic-for-bolt/assets/pages/scripts/table-datatables-managed.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
{{> footer }}