{{> header}}

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="/public/metronic-for-bolt/assets/pages/css/error.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

{{> sub_header}}

<div class="page-404-full-page" style="overflow: hidden; background-color: white !important;">
    <div class="row">
        <div class="col-md-12 page-404">
            <div class="number font-red"> 403 </div>
            <div class="details">
                <h3>Oops! You're forbidden.</h3>
                <p> You are forbidden from accessing the resource you are attempting to access.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
 
 {{> sub_footer }}

 {{> footer }}