{{> header}}

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="/public/bolt-ui-sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

{{> sub_header}}

{{> nav }}

<!-- BEGIN PAGE TITLE-->
<div class="container-fluid">
    <div class="col-md-12">
        <h3 class="page-title"> My Subjects</h3>
    </div>
</div>
<!-- END PAGE TITLE-->

<!-- BEGIN PAGE CONTENT-->
{{#if classSubjects}}
<div class="container-fluid">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered" id="result_section">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i class="icon-doc font-green"></i>
                    <span class="caption-subject bold uppercase"> List of My Subjects</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="table-container">
                    <table class="table table-hover table-light">
                        <tbody>
                            {{#each classSubjects}}
                            <tr>
                                <td width="34%">{{subjectDisplayName}}</td>
                                <td width="34%">{{classDisplayName}}</td>
                                <td width="16%">
                                    <a href="attendance/{{_id}}" class="btn yellow-crusta btn-xs uppercase">
                                        <span class="hidden-xs">Record Attendance</span>
                                        <span><i class="fa fa-long-arrow-right"></i></span>
                                    </a>
                                </td>
                                <td width="16%">
                                    <a href="scores/{{_id}}" class="btn yellow-crusta btn-xs uppercase">
                                        <span class="hidden-xs">Record Scores</span>
                                        <span><i class="fa fa-long-arrow-right"></i></span>
                                    </a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>    
</div>
{{else}}
<div class="container-fluid">
    <div class="col-md-12 col-sm-12">
        <div class="note note-success">
            <h4 class="block">No assigned subjects.</h4>
            <p> 
                No subjects have been assigned to you. Please contact an authorized personnel to assign subjects to you.
            </p>
            <!-- <p>&nbsp;</p>
            <p>
                How do you wish to proceed?<br><br>
                <a class="btn green" href="{{app_root}}/new-session">New session</a>
                <a class="btn green" href="{{app_root}}/view-sessions">Existing session</a>
            </p> -->
        </div>
    </div>
</div>
{{/if}}
<!-- END PAGE CONTENT-->
{{> copyright }}
 
 {{> sub_footer }}

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/public/bolt-ui-sweetalert/dist/sweetalert.min.js" type="text/javascript"></script>
<script src="/public/bolt-ui-sweetalert/dist/sweetalert-dev.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<!-- BEGIN UNIQUE SCRIPT FOR ONLY THIS PAGE -->

<script type="text/javascript">

$(document).ready(function() {
    
});
</script>

<!-- END UNIQUE SCRIPT FOR ONLY THIS PAGE -->
 
 {{> footer }}